/* Estilos para o formulário */
main {
    text-align: center;
    padding: 20px;
  }
  
  form {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #000000;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    color: #fff;
  }
  
  textarea {
    height: 100px;
  }
  
  .botao {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .botao:hover {
    background: #555;
  }
  